<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{titre}}</title>

        {{#each styles}}
            <link rel="stylesheet" href={{this}} />
        {{/each}}

        {{#each scripts}}
            <script type="module" src={{this}}></script>
        {{/each}}
    </head>
    <body>
        <header>TODO</header>
        <a href="/">home</a>

        {{#if user}}
            <a href="/documents">documents</a>

            <form method="post" action="/deconnexion">
                <input type="submit" value="Deconnexion" />
            </form>
        {{/if}}

        {{#unless user}}
            <a href="/connexion">connexion</a>
        {{/unless}}

        <main>
            {{{body}}}
        </main>
        <footer>&copy;Sedric Ouambo</footer>
    </body>
</html>